<h2>Hello {{ name }},</h2>
<p>You have Successfuly registrated on our website. All you need to do is to confirm email.
To do that follow this <a href="{{ url('activate_acc', {'token': token}) }}">Link</a> </p>