{% extends "::base.html.twig" %}

{% block title %}{{ 'profile-pass.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'profile-pass.main_title' | trans }}</h1>

    {{ form(form) }}


{% endblock %}