{% extends "::base.html.twig" %}

{% block title %}{{ 'profile-image.title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'profile-image.main_title' | trans }}</h1>
    <img src="{{ asset(user.profileImageDir()) }}" alt=""/>
    {{ form(form) }}
{% endblock %}