{% extends "::base.html.twig" %}

{% block title %}{{ 'galery_create.title' | trans }}{% endblock %}

{% block body %}
<h1>{{ 'galery_create.main_title' | trans }}</h1>
    {{ form(form) }}
{% endblock %}
